<div *ngIf="selectedZero" class="selectedZero">
      <row-meta [rowmetadata]="selectedDrive"></row-meta>
  <form #ZeroFormRef="ngForm" (ngSubmit)="onSubmit(ZeroFormRef.value)" name="ZeroForm" class="zeroform">      
     <md-input-container>
        <input [(ngModel)]="selectedZero.PO" placeholder="PO"/>
      </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideId" placeholder="RideId"/>
      </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RidePid" placeholder="RidePid"/>
        </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideDate" placeholder="RideDate"/>
        </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideTime" placeholder="RideTime"/>
       </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideToName" placeholder="RideToName"/>
       </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideFromName" placeholder="RideFromName"/>
        </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideScore" placeholder="RideScore"/>
       </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.RideComments" placeholder="RideComments"/>
      </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveId" placeholder="DriveId"/>
    </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DrivePid" placeholder="DrivePid"/>
   </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveDate" placeholder="DriveDate"/>
     </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveTime" placeholder="DriveTime"/>
      </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveToName" placeholder="DriveToName"/>
      </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveFromName" placeholder="DriveFromName"/>
       </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveScore" placeholder="DriveScore"/>
     </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.DriveComments" placeholder="DriveComments"/>
    </md-input-container>
     <md-input-container>
        <input [(ngModel)]="selectedZero.Charge" placeholder="Charge"/>
   </md-input-container>
	<button md-raised-button (click)="onDeSelect()">Back</button>
    <button md-raised-button (click)="onDeSelect()">Save</button>
   </form> 
</div>

<div *ngIf="!selectedZero">
  <div class="floatright searchwidth MRight100">
            <md-input-container>
 				<input mdInput type="search"  #driveSearch  md-autofocus type="search" (input)="term$.next($event.target.value)" placeholder="User Id or DriveFromName" />
            </md-input-container>
            <button md-raised-button color="accent"  (click)="add(eventSearch.value)"><md-icon>add</md-icon> </button> 
        </div>
 <div *ngIf="!appservice.admin">
  <table class="table">
 		 <thead align="left">
 	 	<tr>
			 <th>Id</th>
			 <th>Pid<br>Did</th>
			 <th class="">DriveFromName<br>DriveToName</th>
			 <th class="">DriveDate</th>
			 <th class="">DriveStart<br>DriveEnd</th>
			 <th>Min<br>Max</th>
			 <th>Dist<br>Duration</th>
			 <th class="full-width "><span class="spacer"></span></th>
			 <th class="">Delete</th> 
			 <th class="">Details</th>
			 </tr>
        </thead>
        <tbody>
  <tr *ngFor="let zero of zeros" (click)="onSelect(zero)">
        <td class="Id"><b>{{zero.Id}}</b></td> 
        <td class="DFC">{{zero.DFC}}<br>{{zero.DLC}}</td> 
        <td class="DFC">{{zero.User}}<br>{{zero.PO}}</td> 
        <td class="DFC">{{zero.RideId}}<br>{{zero.DriveId}}</td> 
        <td class="DFC">{{zero.RidePid}}<br>{{zero.DrivePid}}</td> 
        <td class="DFC">{{zero.RideDate}} {{zero.RideTime}}<br>{{zero.DriveDate}} {{zero.DriveTime}}</td> 
        <td class="DFC">{{zero.RideFromName}} {{zero.RideToName}}<br>{{zero.DriveFromName}} {{zero.DriveToName}}</td> 
        <td class="DFC">{{zero.RideScore}}<br>{{zero.RideComments}}</td> 
        <td class="DFC">{{zero.DriveScore}}<br>{{zero.DriveComments}}</td> 
        <td class="Referer">{{zero.Charge}}</td>  
      	<td><button class="btn-xs btn-danger" (click)="delete(zero); $event.stopPropagation()">x</button></td>
     </tr>
        </tbody>
  </table>
  </div>

