<p> this is one</p>

<!-- 
<div *ngIf="selectedEvent">
  <div class="formframe" item-width="100">
  <div>
    <label>Id: </label>{{selectedEvent.Id}}
       <label>Name: </label>{{selectedEvent.EventName}}
  <div>
   <div>
    <label>Name: </label>
    <input [(ngModel)]="selectedEvent.EventName" placeholder="Name"/>
   </div>
   <div>
    <label>Date: </label>
    <input [(ngModel)]="selectedEvent.EventDate" placeholder="Date" />
   </div>
  <div>
    <label>Description: </label>
    <input [(ngModel)]="selectedEvent.Descrip" placeholder="Description" />
   </div>
   
   <div>
    <label>StartTime: </label>
    <input [(ngModel)]="selectedEvent.StartTime" placeholder="Start Time" />
   </div>
   <div>
    <label>EndTime: </label>
    <input [(ngModel)]="selectedEvent.EndTime" placeholder="End Time" />
   </div>
   <div>
    <label>Map Address: </label>
    <input [(ngModel)]="selectedEvent.MapAddress" placeholder="Map Address" />
   </div>
  
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
</div>

<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->