	<div *ngIf="selectedLettext" class="selectedLettext">
      <row-meta [rowmetadata]="selectedLettext"></row-meta>
  		<form #DriveFormRef="ngForm" (ngSubmit)="onSubmit(LettextFormRef.value)" name="LettextForm" class="lettextform">      
               <md-input-container>
                	<input  type="text" mdInput #DidRef="ngModel" name="Letter" [(ngModel)]="selectedLettext.Letter" placeholder="Letter"/>
               </md-input-container>
               <md-input-container>                  
                    <input   type="number" mdInput #DidRef="ngModel" name="Did" [(ngModel)]="selectedLettext.Did" placeholder="Did"/>
               </md-input-container>
               <md-input-container>
                    <input   type="text" mdInput #DidRef="ngModel" name="Lang" [(ngModel)]="selectedLettext.Lang" placeholder="Lang"/>
               </md-input-container>
               <md-input-container>
                    <input type="text" mdInput #DidRef="ngModel" name="LetLangDid" [(ngModel)]="selectedLettext.LetLangDid" placeholder="LetLangDid"/>
               </md-input-container>
               <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="Off"  [(ngModel)]="selectedLettext.Off" placeholder="Off"/>
               </md-input-container>
               <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="Code" [(ngModel)]="selectedLettext.Code" placeholder="Code"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="Sub1" [(ngModel)]="selectedLettext.Sub1" placeholder="Sub1"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="Sub2" [(ngModel)]="selectedLettext.Sub2" placeholder="Sub2"/>
               </md-input-container> 
                    <md-input-container>
                    <input  type="number" mdInput #DidRef="ngModel" name="Sub3" [(ngModel)]="selectedLettext.Sub3" placeholder="Sub3"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H1"  [(ngModel)]="selectedLettext.H1" placeholder="H1"/>
               </md-input-container>
                    <md-input-container>
                    <input type="text" mdInput #DidRef="ngModel" name="H2"  [(ngModel)]="selectedLettext.H2" placeholder="H2"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H3" [(ngModel)]="selectedLettext.H3" placeholder="H3"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H4" [(ngModel)]="selectedLettext.H4" placeholder="H4"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H5" [(ngModel)]="selectedLettext.H5" placeholder="H5"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H6" [(ngModel)]="selectedLettext.H6" placeholder="H6"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H7" [(ngModel)]="selectedLettext.H7" placeholder="H7"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H8" [(ngModel)]="selectedLettext.H8" placeholder="H8"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H9" [(ngModel)]="selectedLettext.H9" placeholder="H9"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H10" [(ngModel)]="selectedLettext.H10" placeholder="H10"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H11" [(ngModel)]="selectedLettext.H11" placeholder="H11"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H12" [(ngModel)]="selectedLettext.H12" placeholder="H12"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H13" [(ngModel)]="selectedLettext.H13" placeholder="H13"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H14" [(ngModel)]="selectedLettext.H14" placeholder="H14"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="H15"  [(ngModel)]="selectedLettext.H15" placeholder="H15"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T1" [(ngModel)]="selectedLettext.T1" placeholder="T1"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T2" [(ngModel)]="selectedLettext.T2" placeholder="T2"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T3" [(ngModel)]="selectedLettext.T3" placeholder="T3"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T4" [(ngModel)]="selectedLettext.T4" placeholder="T4"/>
               </md-input-container>
                    <md-input-container>
                    <input type="text" mdInput #DidRef="ngModel" name="T5" [(ngModel)]="selectedLettext.T5" placeholder="T5"/>
               </md-input-container>
                    <md-input-container>
                    <input type="text" mdInput #DidRef="ngModel" name="T6" [(ngModel)]="selectedLettext.T6" placeholder="T6"/>
               </md-input-container>
                    <md-input-container>
                    <input type="text" mdInput #DidRef="ngModel" name="T7" [(ngModel)]="selectedLettext.T7" placeholder="T7"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T8" [(ngModel)]="selectedLettext.T8" placeholder="T8"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T9" [(ngModel)]="selectedLettext.T9" placeholder="T9"/>
               </md-input-container>
                    <md-input-container>
                    <input  type="text" mdInput #DidRef="ngModel" name="T10" [(ngModel)]="selectedLettext.T10" placeholder="T10"/>
               </md-input-container>
                    <md-input-container>
                    <input [(ngModel)]="selectedLettext.Letter" placeholder="Letter"/>
               </md-input-container>
            <button md-raised-button (click)="onDeSelect()">Back</button>
    		<button md-raised-button (click)="onDeSelect()">Save</button>
   </form> 
</div>
		<div class="floatright searchwidth MRight100">
            <md-input-container>
 				<input mdInput type="search"  #lettextSearch  md-autofocus type="search" (input)="term$.next($event.target.value)" placeholder="Search by Letter or DomainId:" />
            </md-input-container>
            <button md-raised-button color="accent"><md-icon>add</md-icon></button> 
        </div>
    	<div *ngIf="!appservice.admin">
       <table class="table">
       <thead align="left">
 	 	<tr>
			 <th>Id</th>
			 <th>Letter</th>
			 <th>Did</th>
			 <th>Lang</th>
			 <th>LetLangDid</th>
			 <th>Off</th>
			 <th>Code</th>
			 <th>Subj</th>
			 <th class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></th>
			 <th class="mdl-data-table__cell--non-numeric">Delete</th> 
			 <th class="mdl-data-table__cell--non-numeric">Details</th>
			 </tr>
        </thead>
        <tbody>
  <tr *ngFor="let lettext of lettexts" (click)="onSelect(lettext)">
        <td><b>{{lettext.Id}}</b></td>
        <td><b>{{lettext.Letter}}</b></td>
        <td>{{lettext.Did}}</td>
        <td>{{lettext.Lang}}</td>
        <td>{{lettext.LetLangDid}}</td>
        <td>{{lettext.Off}}</td>
        <td>{{lettext.Code}}</td>
        <td>{{lettext.Sub1}}</td>
           <td></td>
     	<td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">Delete</button></td>
        <td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">Detail</button></td>
      </tr>
  </tbody></table>

	
