	<div *ngIf="selectedLettext" class="selectedLettext">
                 <md-input-container>
                 <label>Letter: </label>
                <input [(ngModel)]="selectedLettext.Letter" placeholder="Letter"/>
               </md-input-container>
                <md-input-container>
                    <label>Did: </label>
                    <input [(ngModel)]="selectedLettext.Did" placeholder="Did"/>
               </md-input-container>
                    <md-input-container>
                    <label>Lang: </label>
                    <input [(ngModel)]="selectedLettext.Lang" placeholder="Lang"/>
               </md-input-container>
                    <md-input-container>
                    <label>LetLangDid: </label>
                    <input [(ngModel)]="selectedLettext.LetLangDid" placeholder="LetLangDid"/>
               </md-input-container>
                    <md-input-container>
                    <label>Off: </label>
                    <input [(ngModel)]="selectedLettext.Off" placeholder="Off"/>
               </md-input-container>
                    <md-input-container>
                    <label>Code: </label>
                    <input [(ngModel)]="selectedLettext.Code" placeholder="Code"/>
               </md-input-container>
                    <md-input-container>
                    <label>Sub1: </label>
                    <input [(ngModel)]="selectedLettext.Sub1" placeholder="Sub1"/>
               </md-input-container>
                    <md-input-container>
                    <label>Sub2: </label>
                    <input [(ngModel)]="selectedLettext.Sub2" placeholder="Sub2"/>
               </md-input-container> 
                    <md-input-container>
                    <label>Sub3: </label>
                    <input [(ngModel)]="selectedLettext.Sub3" placeholder="Sub3"/>
               </md-input-container>
                    <md-input-container>
                    <label>H1: </label>
                    <input [(ngModel)]="selectedLettext.H1" placeholder="H1"/>
               </md-input-container>
                    <md-input-container>
                    <label>H2: </label>
                    <input [(ngModel)]="selectedLettext.H2" placeholder="H2"/>
               </md-input-container>
                    <md-input-container>
                    <label>H3: </label>
                    <input [(ngModel)]="selectedLettext.H3" placeholder="H3"/>
               </md-input-container>
                    <md-input-container>
                    <label>H4: </label>
                    <input [(ngModel)]="selectedLettext.H4" placeholder="H4"/>
               </md-input-container>
                    <md-input-container>
                    <label>H5: </label>
                    <input [(ngModel)]="selectedLettext.H5" placeholder="H5"/>
               </md-input-container>
                    <md-input-container>
                    <label>H6: </label>
                    <input [(ngModel)]="selectedLettext.H6" placeholder="H6"/>
               </md-input-container>
                    <md-input-container>
                    <label>H7: </label>
                    <input [(ngModel)]="selectedLettext.H7" placeholder="H7"/>
               </md-input-container>
                    <md-input-container>
                    <label>H8: </label>
                    <input [(ngModel)]="selectedLettext.H8" placeholder="H8"/>
               </md-input-container>
                    <md-input-container>
                    <label>H9: </label>
                    <input [(ngModel)]="selectedLettext.H9" placeholder="H9"/>
               </md-input-container>
                    <md-input-container>
                    <label>H10: </label>
                    <input [(ngModel)]="selectedLettext.H10" placeholder="H10"/>
               </md-input-container>
                    <md-input-container>
                    <label>H11: </label>
                    <input [(ngModel)]="selectedLettext.H11" placeholder="H11"/>
               </md-input-container>
                    <md-input-container>
                    <label>H12: </label>
                    <input [(ngModel)]="selectedLettext.H12" placeholder="H12"/>
               </md-input-container>
                    <md-input-container>
                    <label>H13: </label>
                    <input [(ngModel)]="selectedLettext.H13" placeholder="H13"/>
               </md-input-container>
                    <md-input-container>
                    <label>H14: </label>
                    <input [(ngModel)]="selectedLettext.H14" placeholder="H14"/>
               </md-input-container>
                    <md-input-container>
                    <label>H15: </label>
                    <input [(ngModel)]="selectedLettext.H15" placeholder="H15"/>
               </md-input-container>
                    <md-input-container>
                    <label>T1: </label>
                    <input [(ngModel)]="selectedLettext.T1" placeholder="T1"/>
               </md-input-container>
                    <md-input-container>
                    <label>T2: </label>
                    <input [(ngModel)]="selectedLettext.T2" placeholder="T2"/>
               </md-input-container>
                    <md-input-container>
                    <label>T3: </label>
                    <input [(ngModel)]="selectedLettext.T3" placeholder="T3"/>
               </md-input-container>
                    <md-input-container>
                    <label>T4: </label>
                    <input [(ngModel)]="selectedLettext.T4" placeholder="T4"/>
               </md-input-container>
                    <md-input-container>
                    <label>T5: </label>
                    <input [(ngModel)]="selectedLettext.T5" placeholder="T5"/>
               </md-input-container>
                    <md-input-container>
                    <label>T6: </label>
                    <input [(ngModel)]="selectedLettext.T6" placeholder="T6"/>
               </md-input-container>
                    <md-input-container>
                    <label>T7: </label>
                    <input [(ngModel)]="selectedLettext.T7" placeholder="T7"/>
               </md-input-container>
                    <md-input-container>
                    <label>T8: </label>
                    <input [(ngModel)]="selectedLettext.T8" placeholder="T8"/>
               </md-input-container>
                    <md-input-container>
                    <label>T9: </label>
                    <input [(ngModel)]="selectedLettext.T9" placeholder="T9"/>
               </md-input-container>
                    <md-input-container>
                    <label>T10: </label>
                    <input [(ngModel)]="selectedLettext.T10" placeholder="T10"/>
               </md-input-container>
                    <md-input-container>
                    <label>Letter: </label>
                    <input [(ngModel)]="selectedLettext.Letter" placeholder="Letter"/>
               </md-input-container>
            <button class="btn btn-warning"  (click)="onDeSelect()">View lettext</button>
            <button class="btn btn-success" (click)="onDeSelect()">View List</button>
  </div>

<div *ngIf="!selectedLettext">
		<div class="floatright searchwidth MRight100">
            <md-input-container>
 				<input mdInput type="search"  #lettextSearch  md-autofocus type="search" (input)="term$.next($event.target.value)" placeholder="Search by Letter or DomainId:" />
            </md-input-container>
            <button md-raised-button color="accent"  (click)="add(eventSearch.value)"><md-icon>add</md-icon> </button> 
        </div>
    	<div *ngIf="!appservice.admin">
       <table class="table">
       <thead align="left">
 	 	<tr>
			 <th>Id</th>
			 <th>Letter</th>
			 <th>Did<br>DriveToName</th>
			 <th>Lang</th>
			 <th>LetLangDid</th>
			 <th>Off</th>
			 <th>Code</th>
			 <th>Subj</th>
			 <th class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></th>
			 <th class="mdl-data-table__cell--non-numeric">Delete</th> 
			 <th class="mdl-data-table__cell--non-numeric">Details</th>
			 </tr>
        </thead>
        <tbody>
  <tr *ngFor="let lettext of lettexts" (click)="onSelect(lettext)">
        <td><b>{{lettext.Id}}</b></td>
        <td><b>{{lettext.Letter}}</b></td>
        <td>{{lettext.Did}}</td>
        <td>{{lettext.Lang}}</td>
        <td>{{lettext.LetLangDid}}</td>
        <td>{{lettext.Off}}</td>
        <td>{{lettext.Code}}</td>
        <td>{{lettext.Sub1}}</td>
           <td></td>
     	<td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">Delete</button></td>
        <td><button class="btn-xs btn-danger" (click)="delete(event); $event.stopPropagation()">Detail</button></td>
      </tr>
  </tbody></table>
</div>
	
