<div *ngIf="selectedRide" class="selectedride">
       <row-meta [rowmetadata]="selectedRide"></row-meta>
From {{selectedRide.RideFromLat}} {{selectedRide.RideFromLng}}<br>
To {{selectedRide.RideToLat}} {{selectedRide.RideToLng}}<br>
<sebm-google-map  [latitude]="selectedRide.RideFromLat" [longitude]="selectedRide.RideFromLng" [fitBounds]="[NW|SE]">
  <sebm-google-map-marker [latitude]="selectedRide.RideFromLat" [longitude]="selectedRide.RideFromLng"></sebm-google-map-marker>
 <sebm-google-map-marker [latitude]="selectedRide.RideToLat" [longitude]="selectedRide.RideToLng"></sebm-google-map-marker>
</sebm-google-map>

 
<form #RideFormRef="ngForm" (ngSubmit)="onSubmit(RideFormRef.value)" name="RideForm" class="rideform">
      <md-input-container>
        <input mdInput type="number"  #DidRef="ngModel"  [(ngModel)]="selectedRide.Did" name="Did" placeholder="Domain"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #PidRef="ngModel"  [(ngModel)]="selectedRide.Pid" name="Pid" placeholder="User"/>
   </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #SchedIdRef="ngModel" [(ngModel)]="selectedRide.SchedId" name="SchedId" placeholder="SchedId"/>
   </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #ProcessedRef="ngModel" [(ngModel)]="selectedRide.Processed" name="Processed" placeholder="Processed"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #PORef="ngModel" [(ngModel)]="selectedRide.PO" name="PO" placeholder="PO"/>
 </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #RideFromIdRef="ngModel" [(ngModel)]="selectedRide.RideFromId" name="RideFromId" placeholder="RideFromId"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="text"  #RidefromNameRef="ngModel" [(ngModel)]="selectedRide.RideFromName" name="RideFromName" placeholder="RideFromName"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="text"  #RideFromLatRef="ngModel" [(ngModel)]="selectedRide.RideFromLat" name="RideFromLat" placeholder="RideFromLat"/>
   </md-input-container>
      <md-input-container>
        <input  mdInput type="text"  #RideFromLngRef="ngModel" [(ngModel)]="selectedRide.RideFromLng" name="RideFromLng" placeholder="RideFromLng"/>
   </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #RideToIdRef="ngModel" [(ngModel)]="selectedRide.RideToId" name="RideToId" placeholder="RideToId"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="text"  #RideToNameRef="ngModel" [(ngModel)]="selectedRide.RideToName" name="RideToName" placeholder="RideToName"/>
   </md-input-container>
      <md-input-container>
        <input  mdInput type="text"  #RideToLatRef="ngModel" [(ngModel)]="selectedRide.RideToLat" name="RideToLat" placeholder="RideToLat"/>
   </md-input-container>
      <md-input-container>
        <input  mdInput type="text"  #RideToLngRef="ngModel" [(ngModel)]="selectedRide.RideToLng" name="RideToLng" placeholder="RideToLng"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #RideDistanceRef="ngModel" [(ngModel)]="selectedRide.RideDistance" name="RideDistance" placeholder="RideDistance"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="time"  #RideDurationRef="ngModel" [(ngModel)]="selectedRide.RideDuration" name="RideDuration" placeholder="RideDuration"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="date"  #RideDateRef="ngModel" [(ngModel)]="selectedRide.RideDate" name="RideDate" placeholder="RideDate"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="time"  #RideStartTimeRef="ngModel" [(ngModel)]="selectedRide.RideStartTime" name="RideStartTime" placeholder="RideStartTime"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="time"  #RideEndTimeRef="ngModel" [(ngModel)]="selectedRide.RideEndTime" name="RideEndTime" placeholder="RideEndTime"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #RideStartRef="ngModel" [(ngModel)]="selectedRide.RideStart" name="RideStart" placeholder="RideStart"/>
  </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #RideEndRef="ngModel" [(ngModel)]="selectedRide.RideEnd" name="RideEnd" placeholder="RideEnd"/>
      </md-input-container>
      <md-input-container>
        <input  mdInput type="number"  #WeightRef="ngModel" [(ngModel)]="selectedRide.Weight" name="Weight" placeholder="Weight"/>
   </md-input-container>
     <button md-raised-button (click)="onDeSelect()">Back</button>
      <button md-raised-button (click)="onDeSelect()">Save</button>
   </form> 
</div>
<div *ngIf="!selectedRide">
      <div class="floatright rightM100">
          <md-input-container class="searchRides">
              <input mdInput  type="search"  #driveSearch  md-autofocus type="search" (input)="term$.next($event.target.value)" placeholder="User Id or RideFromName" />
          </md-input-container>
          <button md-raised-button color="accent" (click)="add(eventSearch.value)"><md-icon>add</md-icon></button> 
      </div>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
        <thead align="left">
        <tr>
            <div *ngIf="!appservice.admin">
              <th>Id</th>
              <th>User<br>Domain</th>
              <th class="mdl-data-table__cell--non-numeric">RideFromName<br>RideToName</th>
               <th class="mdl-data-table__cell--non-numeric">Distance<br>Duration</th>
              <th class="mdl-data-table__cell--non-numeric">RideDate</th>
              <th class="mdl-data-table__cell--non-numeric">Start Time<br>End Time</th>
              <th>Weight</th>
              <th class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></th>
              <th class="mdl-data-table__cell--non-numeric">Delete</th> 
              <th class="mdl-data-table__cell--non-numeric">Details</th>
             </div>
            <div *ngIf="appservice.admin">
                <th>Id</th>
                <th>First<br>Last</th>
                <th>Done<br>Sched</th>
                <th>PO<br>User</th>
                <th>From Id</th>
                <th>Lat<br>Lng</th>
                <th>To Id</th>
                <th>Lat<br>Lng</th>
                <th>Start<br>End</th>
                <th><span class="spacer"></span></th>
                <th class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></th>
                <th class="mdl-data-table__cell--non-numeric">Delete</th> 
                <th class="mdl-data-table__cell--non-numeric">Details</th>
            </div>
          </tr>
            </thead>
        <tbody>
        <tr *ngFor="let ride of rides" (click)="onSelect(ride)"
            [class.selected]="ride === selectedRide" class="list-group-item">
            <div *ngIf="!appservice.admin">
                    <td class="Id"><b>{{ride.Id}}</b></td>
                    <td class="Id"><b>{{ride.Pid}}</b><br>{{ride.Did}}</td>
                    <td class="Name">{{ride.RideFromName}}<br>{{ride.RideToName}}</td>
                    <td class="Rate">{{ride.RideDistance}}<br>{{ride.RideDuration}}</td> 
                    <td class="Id">{{ride.RideDate}}</td>
                    <td class="Time">{{ride.RideStartTime}}<br>{{ride.RideEndTime}}</td>
                    <td class="Lat">{{ride.Weight}}</td>
                    <td  class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></td>
                    <td class="full-width mdl-data-table__cell--non-numeric"><button class="md-button" (click)="delete(user); $event.stopPropagation()"><md-icon>delete</md-icon></button></td>
                    <td class="mdl-data-table__cell--non-numeric"><button class="md-button" (click)="gotoDetail(user); $event.stopPropagation()"><md-icon>list</md-icon></button></td>
              </div>
              <div *ngIf="appservice.admin">
                   <td class="Id"><b>{{ride.Id}}</b></td>
                    <td class="DateText">{{ride.DFC}}<br>{{ride.DLC}}</td>
                    <td class="Id">*{{ride.Processed}}*<br>{{ride.SchedId}}</td>
                    <td class="Id">{{ride.PO}}<br>{{ride.User}}</td> 
                    <td class="Id">{{ride.RideFromId}}</td> 
                    <td class="Lat">{{ride.RideFromLat}}<br>{{ride.RideFromLng}}</td> 
                    <td class="Id">{{ride.RideToId}}</td> 
                    <td class="Lat">{{ride.RideToLat}}<br>{{ride.RideToLng}}</td>
                    <td class="Time">{{ride.RideStart}}<br>{{ride.RideEnd}}</td> 
                    <td  class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></td>
                    <td class="full-width mdl-data-table__cell--non-numeric"><button class="md-button" (click)="delete(user); $event.stopPropagation()"><md-icon>delete</md-icon></button></td>
                    <td class="mdl-data-table__cell--non-numeric"><button class="md-button" (click)="gotoDetail(user); $event.stopPropagation()"><md-icon>list</md-icon></button></td>
              </div>
        </tr>
      </tbody>
    </table>
  </div>








  