
  <div *ngIf="selectedRun" class="selectedRun">
        <row-meta [rowmetadata]="selectedRun"></row-meta>
<form #UserFormRef="ngForm" (ngSubmit)="onSubmit(RunFormRef.value)" name="RunForm" class="runform">
      <md-input-container>   
        <input mdInput type="number" name="DriveId"  #driveidRef="ngModel"  [(ngModel)]="selectedRun.DriveId" placeholder="DriveId"/>
     </md-input-container>
      <md-input-container>    
        <input mdInput type="number" name="RideId"  #rideidRef="ngModel"  [(ngModel)]="selectedRun.RideId" placeholder="RideId"/>
       </md-input-container>
      <md-input-container>
        <input mdInput type="number" name="DrivePid"  #drivepidRef="ngModel"  [(ngModel)]="selectedRun.DrivePid" placeholder="DrivePid"/>
    </md-input-container>
      <md-input-container>
        <input mdInput type="number" name="RidePid"  #ridepidRef="ngModel"  [(ngModel)]="selectedRun.RidePid" placeholder="RidePid"/>
      </md-input-container>
      <md-input-container>
        <input mdInput type="date" name="DriveDate"  #drivedateRef="ngModel"  [(ngModel)]="selectedRun.DriveDate" placeholder="DriveDate"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="date" name="RideDate"  #ridedateRef="ngModel"  [(ngModel)]="selectedRun.RideDate" placeholder="RideDate"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="time" name="DriveTime"  #drivetimeRef="ngModel"  [(ngModel)]="selectedRun.DriveTime" placeholder="DriveTime"/>
    </md-input-container>
      <md-input-container>
        <input mdInput type="time" name="RideTime"  #ridetimeRef="ngModel"  [(ngModel)]="selectedRun.RideTime" placeholder="RideTime"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="DriveFromName"  #drivefromnameRef="ngModel"  [(ngModel)]="selectedRun.DriveFromName" placeholder="DriveFromName"/>
      </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="RideFromName"  #ridefromnameRef="ngModel"  [(ngModel)]="selectedRun.RideFromName" placeholder="RideFromName"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="DriveToName"  #drivetonameRef="ngModel"  [(ngModel)]="selectedRun.DriveToName" placeholder="DriveToName"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="RideToName"  #ridetonameRef="ngModel"  [(ngModel)]="selectedRun.RideToName" placeholder="RideToName"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="number" name="DriveScore"  #drivescoreRef="ngModel"  [(ngModel)]="selectedRun.DriveScore" placeholder="DriveScore"/>
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" name="RideScore"  #ridescoreRef="ngModel"  [(ngModel)]="selectedRun.RideScore" placeholder="RideScore"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="DriveComments"  #drivecommentsRef="ngModel"  [(ngModel)]="selectedRun.DriveComments" placeholder="DriveComments"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="text" name="RideComments"  #ridecommentsRef="ngModel"  [(ngModel)]="selectedRun.RideComments" placeholder="RideComments"/>
     </md-input-container>
      <md-input-container>
        <input mdInput type="boolean" name="PO"  #poRef="ngModel"  [(ngModel)]="selectedRun.PO" placeholder="PO"/>
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" name="Charge"  #chargeRef="ngModel"  [(ngModel)]="selectedRun.Charge" placeholder="Charge"/>
    </md-input-container>
       <button md-raised-button (click)="onDeSelect()">Back</button>
      <button md-raised-button (click)="onDeSelect()">Save</button>
</form>
  </div>
     <div *ngIf="!selectedRun">
    <div class="floatright searchwidth rightM100">
          <md-input-container class="searchruns">
              <input mdInput #runSearch md-autofocus type="search" (input)="term$.next($event.target.value)" name="searchruns" id="searchruns" placeholder="Enter Id or Email" />
          </md-input-container>
          <button md-raised-button color="accent" id="runbutton" class="userbutton" (click)="add(runSearch.value)"><md-icon>add</md-icon></button> 
     </div> 
           <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
        <thead align="left">
          <tr>
            <div *ngIf="!appservice.admin">
 <th>Id</th>
 <th>Drive<br>User</th>
 <th>Drive From<br>Drive To</th>
 <th>Date<br>Time</th>
 <th>Ride<br>User</th>
 <th>Ride From<br>Ride To</th>
 <th>Date<br>Time</th>
 <th class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></th>
 <th class="mdl-data-table__cell--non-numeric">Delete</th> 
 <th class="mdl-data-table__cell--non-numeric">Details</th>
            </div>
            <div *ngIf="appservice.admin">
 <th>Id</th>
 <th>First<br>Last</th>
 <th>Drive Score<br>Drive Comments</th>
 <th>Ride Score<br>Ride Comments</th>
 <th>PO<br>Charge</th>
 <th class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></th>
 <th class="mdl-data-table__cell--non-numeric">Delete</th> 
 <th class="mdl-data-table__cell--non-numeric">Detail</th> 
            </div>
          </tr>
        </thead>
               <tbody>
   <tr *ngFor="let run of runs" (click)="onSelect(run)"
     [class.selected]="run === selectedRun"  class="list-group-item">
          <div *ngIf="!appservice.admin">
             <td><b>{{run.Id}}</b></td>
             <td><b>{{run.DriveId}}</b><br>{{run.DrivePid}}</td>
             <td>{{run.DriveFromName}}<br>{{run.DriveToName}}</td>
             <td>{{run.DriveDate | date}}<br>{{run.DriveTime}}</td>
             <td><b>{{run.RideId}}</b><br>{{run.RidePid}}</td>
             <td>{{run.RideFromName}}<br>{{run.RideToName}}</td>
             <td>{{run.RideDate | date}}<br>{{run.RideTime}}</td>
             <td  class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></td>
             <td class="full-width mdl-data-table__cell--non-numeric"><button class="md-button" (click)="delete(user); $event.stopPropagation()"><md-icon>delete</md-icon></button></td>
             <td class="mdl-data-table__cell--non-numeric"><button class="md-button" (click)="gotoDetail(user); $event.stopPropagation()"><md-icon>list</md-icon></button></td>
           </div>
       <div *ngIf="appservice.admin">
             <td><b>{{run.Id}}</b><br>{{run.User}}</td>
             <td>{{run.DFC}}<br>{{run.DLC}}</td>
             <td>{{run.DriveScore}}<br>{{run.DriveComments}}</td>
             <td>{{run.RideScore}}<br>{{run.RideComments}}</td>
             <td>{{run.PO}}<br>{{run.Charge}}</td>
             <td  class="full-width mdl-data-table__cell--non-numeric"><span class="spacer"></span></td>
             <td class="full-width mdl-data-table__cell--non-numeric"><button class="md-button" (click)="delete(user); $event.stopPropagation()"><md-icon>delete</md-icon></button></td>
             <td class="mdl-data-table__cell--non-numeric"><button class="md-button" (click)="gotoDetail(user); $event.stopPropagation()"><md-icon>list</md-icon></button></td>
       </div>
 </tr>
          </tbody>
        </table>
</div>
