md-grid-tile {
  background: lightblue;
  padding: 3px;
  margin: 3px;
}
.md-card{
  width: 50%;
  text-align: center;
}
.searchbox{
  width: 50%;
  height: 50px;
  font-size: 14;
  text-align: right;
  background: blueviolet;
}
body{
  align-content: center;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  float:left;
}

.example-margin {
  margin: 0 10px;
}
