.full-width {
  width: 100%;
}
.searchwidth{
	width: 300px;
}
.rightM100{
	margin-right:100px;
}
.floatright{
	float: right;
}
.leftm5{
	padding-right: 50dp;
	padding-left: 10dp;
}
.selectedComment md-input-container{
	display: block;
}
.commentform{
	  width: 300px;
}
.searchcomments{
	width: 200px;
}
.commentbutton{
	float: right;
	width:60px;
}