<div *ngIf="selectedDay" class="selectedDay">
    <row-meta [rowmetadata]="selectedDay"></row-meta>
 <form #DriveFormRef="ngForm" (ngSubmit)="onSubmit(DayFormRef.value)" name="DayForm" class="dayform">      
   
                   <md-input-container>
                      <input [(ngModel)]="selectedDay.Id" placeholder="Name"/>
               </md-input-container>
                   </md-input-container>
                   <md-input-container>
                      <input [(ngModel)]="selectedDay.XDrives" placeholder="Date" />
                 </md-input-container>
                      </md-input-container>
                   <md-input-container>
                        <input [(ngModel)]="selectedDay.XEvents" placeholder="Description" />
               </md-input-container>
                   </md-input-container>
                   <md-input-container>
                        <input [(ngModel)]="selectedDay.XLogs" placeholder="Start Time" />
               </md-input-container>
                  </md-input-container>
                   <md-input-container>
                          <input [(ngModel)]="selectedDay.XOutputs" placeholder="End Time" />
               </md-input-container>
               </md-input-container>
                   <md-input-container>
                        <input [(ngModel)]="selectedDay.XRides" placeholder="Map Address" />
               </md-input-container>
                   <button md-raised-button (click)="onDeSelect()">Back</button>
    <button md-raised-button (click)="onDeSelect()">Save</button>
   </form> 
</div>
<div *ngIf="!selectedDay">
       <div class="floatright searchwidth MRight100">
            <md-input-container>
 				<input mdInput type="search"  #daySearch  md-autofocus type="search" (input)="term$.next($event.target.value)" placeholder="User Id " />
            </md-input-container>
            <button md-raised-button color="accent"  (click)="add(eventSearch.value)"><md-icon>add</md-icon> </button> 
        </div>
            <div *ngIf="!appservice.admin">
            
       		 <table class="table">
                    <tbody>
                 <tr *ngFor="let day of days" (click)="onSelect(day)">
                    
                        <td class="Id"><b>{{day.Id}}</b></td>
	      				<td class="XDrives">{{day.XDrives}} </td>
                        <td class="XEvents">{{day.XEvents}}</td>
                        <td class="XLogs">{{day.XLogs}}</td>
                        <td class="XOutputs">{{day.XOutputs}} </td>
                        <td class="XRides">{{day.XRides}} </td>
                        <td class="XRuns0"> {{day.XRuns0}}</td>
                        <td class="XRuns1"> {{day.XRuns1}}</td>
						 <td class="XRuns2"> {{day.XRuns2}}</td>
						<td class="XScheds"> {{day.XScheds}}</td>
						<td class="XSched86s"> {{day.XSched86s}}</td>
						<td class="DScheds"> {{day.DScheds}}</td>
						<td class="RScheds"> {{day.RScheds}}</td>
						<td class="Output3"> {{day.Output3}}</td>
						<td class="Monthly"> {{day.Monthly}}</td>
						<td class="EPlace"> {{day.EPlace}}</td>
						<td class="HelpUs"> {{day.HelpUs}}</td>
						<td class="EStopCnt"> {{day.EStopCnt}}</td>
						<td class="Video"> {{day.Video}}</td>
						<td class="FeadCnt"> {{day.FeadCnt}}</td>
						<td class="NoAct"> {{day.NoAct}}</td>
						<td class="button"><button class="btn-sm btn-danger" (click)="delete(day); $event.stopPropagation()">x</button></td>
                        </div>
                        <div *ngIf="appservice.admin">
                        <td class="Id"><b>{{day.Id}}</b></td>
                        <td class="DFC">{{day.DFC}} </td>
                        <td class="DLC">{{day.DLC | date}}</td>
                        <td class="User">{{day.User}}</td>
						<td class="NoAct7">{{day.NoAct7}}</td>
						<td class="NoAct30">{{day.NoAct30}}</td>
						<td class="NoAct60">{{day.NoAct60}}</td>
						<td class="NoAct90">{{day.NoAct90}}</td>
						<td class="DriveCnt">{{day.DriveCnt}}</td>
						<td class="EventCnt">{{day.EventCnt}}</td>
						<td class="FeedCnt">{{day.FeedCnt}}</td>
						<td class="InactCnt">{{day.InactCnt}}</td>
						<td class="OutputCnt">{{day.OutputCnt}}</td>
						<td class="PeopleCnt">{{day.PeopleCnt}}</td>
						<td class="PlaceCnt">{{day.PlaceCnt}}</td>
						<td class="UserCnt">{{day.UserCnt}}</td>
						<td class="RideCnt">{{day.RideCnt}}</td>
						<td class="RunCnt">{{day.RunCnt}}</td>  
						<td class="SchedCnt">{{day.SchedCnt}}</td> 
						<td class="Sched86Cnt">{{day.Sched86Cnt}}</td> 
						<td class="DayTime">{{day.DayTime}}</td> 
						<td class="Face">{{day.Face}}</td> 
						<td class="About">{{day.About}}</td> 
						<td class="Holy">{{day.Holy}}</td> 
						<td class="Promo">{{day.Promo}}</td> 
						<td class="TCode2">{{day.TCode2}}</td> 	
						<td class="button"><button class="btn-sm btn-danger" (click)="delete(day); $event.stopPropagation()">x</button></td>												
						</div>
                </tr>
            </tbody></table>
        </div>
</div></div></div></div>


